WpfLibrary/Connected Services/ServiceNS/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.ExceptionsFault" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.ExceptionsFault" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmailFormatExceptionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailFormatExceptionFault" nillable="true" type="tns:EmailFormatExceptionFault" />
  <xs:complexType name="EmptyCyrilicLoginExceptionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmptyCyrilicLoginExceptionFault" nillable="true" type="tns:EmptyCyrilicLoginExceptionFault" />
  <xs:complexType name="PasswordConfirmationExceptionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordConfirmationExceptionFault" nillable="true" type="tns:PasswordConfirmationExceptionFault" />
  <xs:complexType name="PasswordIndexOutOfRangeExceptionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordIndexOutOfRangeExceptionFault" nillable="true" type="tns:PasswordIndexOutOfRangeExceptionFault" />
  <xs:complexType name="PasswordSpecificCharactersExceptionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordSpecificCharactersExceptionFault" nillable="true" type="tns:PasswordSpecificCharactersExceptionFault" />
  <xs:complexType name="PhoneFormatExceptionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneFormatExceptionFault" nillable="true" type="tns:PhoneFormatExceptionFault" />
  <xs:complexType name="PasswordEqualsInDataBaseExceptionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordEqualsInDataBaseExceptionFault" nillable="true" type="tns:PasswordEqualsInDataBaseExceptionFault" />
</xs:schema>